<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sound.lab3_db_chesnokov">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Manager of tasks"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".CategoryListActivity" />
        <activity android:name=".RecordListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditRecordActivity" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".EditCategoryActivity" />
        <activity android:name=".RecordFragment" />
        <activity android:name=".Stats_menu" />
        <activity android:name=".MoreStats"></activity>
    </application>

</manifest>